@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

:root {
  --dark: #101010;
  --light: #f1f1f1;
  --main: #ff69b4;
  --support: #ff1493;
  --secondary: #ffc0cb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  line-height: 1.5;
  user-select: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  font-family: "Ink Free", cursive;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25em;
  z-index: 9;
}
@media screen and (min-width: 700px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}
.nav-sm {
  display: flex;
  justify-content: space-between;
  margin: 0.75em;
}
.links {
  display: none;
}
.links li {
  margin: 1.25em;
}
.links a {
  text-transform: uppercase;
  color: #fff;
}
.links a:visited {
  color: #fff;
}
.links a:hover,
.links a:active {
  color: var(--dark);
}
@media screen and (min-width: 700px) {
  .links {
    display: flex;
    margin-inline-end: 1em;
  }
  .links a {
    color: var(--secondary);
  }
  .links a:visited {
    color: var(--secondary);
  }
  .links a:hover,
  .links a:active {
    color: var(--support);
  }
}
.show-links {
  display: flex;
  margin-block-start: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-bg {
  background: var(--support);
  z-index: 20;
}
.nav-toggle {
  font-size: 1.25rem;
  color: var(--secondary);
  background: transparent;
  cursor: pointer;
  margin-inline-end: 1em;
}
@media screen and (min-width: 700px) {
  .nav-toggle {
    display: none;
  }
}
.nav-logo {
  width: 3.5rem;
  margin-block-start: 0.25em;
  margin-inline-start: 1em;
}
.header .container {
  min-height: 90vh;
  min-width: 100%;
  color: var(--light);
  background: var(--dark);
  font-family: "Ink Free", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-info {
  width: 80%;
  text-align: center;
  margin-block-start: 5em;
}
@media screen and (min-width: 700px) {
  .section-info {
    width: 40%;
    text-align: start;
  }
}
.section-info .subtitle-1 {
  font-size: 1rem;
  border-bottom: 0.25rem solid var(--support);
  width: fit-content;
  margin-inline: auto;
}
@media screen and (min-width: 700px) {
  .section-info .subtitle-1 {
    margin-inline-start: 0;
  }
}
.section-info h1 {
  font-size: 2rem;
  margin-block-start: 0.5em;
}
.section-info .subtitle-2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary);
}
@media screen and (min-width: 400px) {
  .section-info .subtitle-1 {
    font-size: 1.3rem;
  }
  .section-info h1 {
    font-size: 3rem;
  }
  .section-info .subtitle-2 {
    font-size: 1.6rem;
  }
}
.section-img {
  display: none;
}
@media screen and (min-width: 700px) {
  .section-img {
    display: block;
    position: relative;
  }
  .section-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--support);
    top: 1rem;
    right: -1rem;
    border-radius: 0.5rem;
  }
}
.section-media {
  margin-block-start: 3em;
}
.social-icons {
  width: 15em;
  margin-inline: auto;
  display: flex;
}
@media screen and (min-width: 700px) {
  .social-icons {
    margin-inline-start: 0;
    justify-content: space-between;
  }
}
.social-icons a {
  font-size: 1.5rem;
  color: #fff;
}
.social-icons a:visited {
  color: #fff;
}
/* .social-icons li:nth-child(1) a:hover,
.social-icons li:nth-child(1) a:active {
  color: #1877f2;
}
.social-icons li:nth-child(2) a:hover,
.social-icons li:nth-child(2) a:active {
  color: #1da1f2;
}
.social-icons li:nth-child(3) a:hover,
.social-icons li:nth-child(3) a:active {
  color: #0a66c2;
}
.social-icons li:nth-child(4) a:hover,
.social-icons li:nth-child(4) a:active {
  color: #000;
}
.social-icons li:nth-child(5) a:hover,
.social-icons li:nth-child(5) a:active {
  color: #1769ff;
} */
.social-icons a:hover,
.social-icons a:active {
  color: var(--main);
}
.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1.5rem;
  cursor: pointer;
}
.btn-hire {
  margin-block-start: 2em;
  width: 8rem;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
  border: 0.25rem solid var(--support);
  color: var(--support);
  padding: 0.5em 1em;
}
.btn-hire:visited {
  color: var(--support);
}
.btn-hire:hover,
.btn-hire:active {
  background: var(--support);
  color: var(--dark);
}
.main-img {
  max-width: 20rem;
  max-height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
}
.to-top {
  font-size: 1.75rem;
  font-family: Ubuntu, sans-serif;
  text-align: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: #555;
  background: transparent;
  cursor: pointer;
  z-index: 9;
}
.to-top:hover,
.to-top:active {
  color: var(--support);
}
.section-about,
.section-skills,
.section-portfolio {
  padding-block-end: 8em;
}
.about-container {
  width: clamp(200px, 80%, 800px);
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .about-container {
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
.about-img {
  position: relative;
  max-width: 15rem;
  max-height: 15rem;
  margin-block-start: 6em;
  margin-inline: auto;
}
.about-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main);
  position: absolute;
  top: -0.25rem;
  right: 0.5rem;
  border-radius: 50%;
  z-index: -1;
}
.secondary-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
@media screen and (min-width: 700px) {
  .about-img {
    margin-block-start: 8em;
  }
}
.about-content {
  width: 80%;
  margin-inline: auto;
}
@media screen and (min-width: 700px) {
  .about-content {
    width: 50%;
    text-align: left;
  }
}
.about-content h2 {
  margin-block-start: 1.75em;
  font-size: 1.75rem;
  color: var(-dark);
}
.about-content span {
  color: var(--main);
}
.about-content p {
  margin-block-start: 1em;
  font-size: 1.1rem;
}
@media screen and (min-width: 700px) {
  .about-content h2 {
    margin-block-start: 3.5em;
    font-size: 2rem;
  }
}
.btn-cv {
  margin-top: 2.5em;
  padding: 0.75em 1.75em;
  font-weight: 600;
  font-size: 0.8rem;
  background: var(--main);
  color: var(--dark);
}
.btn-cv:visited {
  color: var(--dark);
}
.btn-cv:hover,
.btn-cv:active {
  background: var(--support);
}
.section-skills {
  background: #e6e6e6;
}
.skills-container,
.portfolio-container {
  margin-inline: auto;
  width: 80%;
}
.skills-container h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--dark);
  opacity: 0.3;
  position: relative;
  top: 3em;
}
.skills-container span {
  border-bottom: 0.2rem solid var(--dark);
}
.list {
  margin-block-start: 8em;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skill-item {
  margin: 0.5em;
  padding: 0.5em;
  background: #fff;
  box-shadow: 0 0 0.125rem #86797e;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
}
.circular-progress {
  transform: rotate(-90deg);
}
.circular-progress circle {
  fill: none;
  stroke-linecap: round;
}
.circular-progress .striped {
  stroke: rgba(241, 241, 241, 0.25);
  stroke-linecap: square;
  stroke-dasharray: 10 30;
  animation: striped 1s linear infinite;
}
@keyframes striped {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.skill-info {
  position: absolute;
  inset: 3em 0.5em;
}
.skill-img {
  max-width: 3rem;
  max-height: 3rem;
}
.skill-name {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  color: #202020;
  width: 6rem;
  margin-inline: auto;
}
.portfolio-container h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark);
  position: relative;
  top: 3.5em;
}
@media screen and (min-width: 700px) {
  .portfolio-container h2 {
    font-size: 1.75rem;
  }
}
.portfolio-container span {
  display: inline-block;
  background: var(--dark);
  color: var(--light);
  padding: 0.2em 0.4em;
  border-radius: 0.25rem 0.5rem 0.75rem 1rem;
}
.portfolio-container .list {
  margin-block-start: 9em;
}
.portfolio-item {
  width: 20rem;
  height: 15rem;
  margin: 0.9em;
  display: inline-block;
  box-shadow: 0 0 0.125rem #555;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.75;
  transition: transform 0.15s linear;
}
.portfolio-item:focus,
.portfolio-item:hover,
.portfolio-item:active {
  box-shadow: 0 0 0.25rem #555;
  opacity: 1;
  transform: scale(1.05);
  z-index: 9;
}
.portfolio-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.portfolio-name {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  background: rgba(0, 0, 0, 0.6);
  color: var(--light);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 9;
}
.section-contact {
  background: var(--main);
  padding-block-end: 14em;
}
.contact-container {
  width: clamp(200px, 80%, 600px);
  margin-inline: auto;
  background: #fff;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem rgba(16, 16, 16, 0.15);
  position: relative;
  top: 7em;
}
.contact-container h2 {
  padding-block: 2em 1em;
  font-size: 1.7rem;
}
.contact-container p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--support);
  padding-inline: 2em;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  margin-block-start: 2em;
}
input,
textarea {
  background: #e6e6e6;
  width: 85%;
  padding: 0.5em;
  margin-block: 0.5em;
  margin-inline: auto;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-family: Ubuntu, sans-serif;
  outline: none;
}
textarea {
  height: 5rem;
  resize: vertical;
}
:placeholder-shown {
  font-size: 1rem;
  font-family: Ubuntu, sans-serif;
}
input[type="email"]:focus,
textarea:focus {
  border-bottom: 0.125rem solid var(--main);
}
.btn-send {
  width: fit-content;
  margin-block: 3em 5em;
  padding: 0.8em 1.8em;
  margin-inline: auto;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  background: var(--main);
  color: #fff;
}
.btn-send:hover,
.btn-send:active {
  background: var(--support);
}
.errors {
  color: var(--support);
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  margin-block-start: 0.5em;
}
.footer {
  text-align: center;
  background: var(--dark);
  color: var(--light);
  font-size: 0.9rem;
}
.footer p {
  padding-block: 3em 2.25em;
}
.footer-logo {
  width: 3rem;
  margin-inline: 0.2em;
}
.alert {
  width: clamp(200px, 50%, 500px);
  padding: 1.5em 0.5em;
  margin-inline: auto;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem rgba(16, 16, 16, 0.15);
  background: var(--secondary);
  z-index: 50;
  position: relative;
}
@media screen and (min-width: 700px) {
  .alert {
    padding: 3em 1.5em;
  }
}
.alert-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.alert p {
  font-family: Ubuntu, cursive;
  font-size: 1rem;
  font-weight: 500;
  padding-block: 0.2em;
  color: var(--dark);
}
.alert button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background: transparent;
  color: var(--support);
  font-size: 1.5rem;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  z-index: 9;
  opacity: 0.35;
  cursor: pointer;
}
.alert button:hover,
.alert button:active {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--support);
}
.curve {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.flip {
  transform: rotateY(180deg);
}
.curve svg {
  display: block;
  width: 100%;
  height: 1rem;
}
@media screen and (min-width: 400px) {
  .curve svg {
    height: 1.3rem;
  }
}
@media screen and (min-width: 700px) {
  .curve svg {
    height: 2.5rem;
  }
}
::selection {
  background: var(--secondary);
}
:focus:not(input, textarea) {
  outline: 0.125rem solid var(--support);
  outline-offset: 0.15rem;
}
